:root{
  --main-bg:#F8F9FA;
  --bg-blue:#0b5383;
  /* --bg-blue:#263544; */
  --sidebar-width:220px;
}

body{
  font-size: 14px;
  background-color: var(--main-bg);
  color: #333;
}

.sidebar{
  background: var(--bg-blue);
  color: #fff;
  width: var(--sidebar-width);
  min-height: 100vh !important;
}
.sidebar-label{
  font-size: 12px;
  font-weight: 500;
  opacity: 1;
  padding: 25px 25px 5px 0;
  margin-bottom: 5px;
  position: relative;
}
.nav-link {
  /* color: #93add1; */
  color: #add9f7;
  display: flex;
  align-items: center;
}
.nav-link.active, .nav-link:hover {
  color: #fff;
  /* background: #2b5999; */
  background-color: #0f466b;
  border-radius: 5px;
}

main{
  width: calc(100% - var(--sidebar-width));
}
.page-title{
  color: #333;
}
.paginationOpts__root.form-inline .form-group {
  display: flex;
  align-items: center;
  border-color: transparent;
}
#formGroupPagination {
  border-color: transparent;
  border-bottom-color: #eee;
  width: auto;
}
.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-accent-bg: #F2F7FB;   
}
.bg-white{
  background-color: #fff;
}
.user-select{
  cursor: pointer;
}
.table > :not(caption) > * > * {
    padding: .875rem .5rem;
    
}
.btn-primary{
  background-color: var(--bg-blue);
  border: #0b5383;
}